<!DOCTYPE html>
<html>

<head>
    <title>Inference</title>

    <link href="../static/css/app.css" rel="stylesheet">
</head>

<body>

    <div class="holder">

        <div class="upload-dv">
            <input type="file" class="fupload">
            <hr>
        </div>

        <div class="dimg">

        </div>

        <div class="lbl">
            <hr>
            <p>Actual class label: <span class="actual">Horse</span></p>
            <p>Predicted class label: <span class="pred">Horse</span></p>
        </div>

    </div>

</body>

</html>

<script src="../static/js/jquery-3.7.1.min.js"></script>
<script src="../static/js/app.js"></script>